.testimonials-container {
  padding-top: 165px;
  padding-left: 227px; }

.testimonials-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.testimonials-title {
  font-size: 16px;
  letter-spacing: 2px;
  padding-left: 16px;
  color: #56ccf2;
  text-transform: uppercase;
  font-weight: 600; }

.testimonials-title-big {
  padding-top: 19px;
  font-size: 32px;
  width: 362px; }

.persons {
  padding-top: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.person {
  width: 314px;
  height: 464px;
  -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
          box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  padding: 0 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  position: relative;
  z-index: 2; }

.bg-person-one {
  background: #56ccf2; }

.bg-person-two {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }

.bg-person-three {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }

.bground {
  width: 161.9px;
  height: 64px;
  border-radius: 500px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  position: absolute;
  z-index: -1;
  top: 90px;
  left: 80px; }

.photo-person {
  position: absolute;
  z-index: 2;
  top: 95px;
  left: 115px; }

.description {
  font-size: 14px;
  line-height: 150%;
  font-style: italic;
  color: #253757;
  margin-top: 240px; }

.person-one-line {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
  width: 64px;
  height: 2px;
  border-radius: 500px;
  margin: 31px auto; }

.person-two-line {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
  width: 64px;
  height: 2px;
  border-radius: 500px;
  margin: 31px auto; }

.person-three-line {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
  width: 64px;
  height: 2px;
  border-radius: 500px;
  margin: 31px auto; }

.person-name {
  font-size: 12px;
  line-height: 150%;
  font-weight: 700;
  color: #152032; }

.person-position-one {
  color: #56ccf2;
  font-weight: 600; }

.person-position-two {
  color: #fcc304;
  font-weight: 600; }

.person-position-three {
  color: #f25656;
  font-weight: 600; }

@media (max-width: 1180px) {
  .persons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

/*# sourceMappingURL=testimonials.css.map */
